.layout-main-container {
  height: 100vh;
  background-color: #F2F2F2;
}

.sidebar-container {
  height: 92%;
}

.content-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pages-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
