
@if(results$ | async; as results) {
<div>
        @if (results.loading) {
            <p>
                Loading...
            </p>
        }

        @if ((results.data | cast : SuccessInterface); as data) {

            <p>
                RFC: {{ data.response.rfcs[0].rfc }}
            </p>
            <p>
                Result: {{ data.response.rfcs[0].result }}
            </p>
        }

        @if (results.error | cast : BadRequestInterface; as error;) {
            <p>
                {{ error }}
            </p>
        }        

    </div>
    
    
    <p-card styleClass="w-64">
        @if (personalData$ === null) {
            @if (results.loading) {
                <p>
                    Loading...
                </p>
            }    
            @if (results.data | cast : SuccessInterface; as data) {
                <p>
                    Haz click en el botón de abajo para encontrar la información personal de {{ nombres ?? data.response.rfcs[0].rfc }}.
                </p>        
            }
        }
        @if (personalData$ | async; as personalData) {
            @if (personalData.loading) {
                <p>Loading...</p>
            }
            @if (personalData.error) {
                <p>Ocurrió un error.</p>
            }
            @if (personalData.data?.response; as personalDataResponse) {
                <ul>                    
                    <li>
                        CURP: {{ personalDataResponse.curp }}
                    </li>
                    <li>
                        Email: {{ personalDataResponse.email}}
                    </li>
                    <li>
                        Nombre Completo: {{ personalDataResponse.nombreCompleto }}
                    </li>            
                </ul>
            }
        }
        @if (personalData$ === null) {
            <p-button label="Información Personal" icon="pi pi-user" iconPos="bottom" (onClick)="getPersonalDataOnClick()" [disabled]="results.loading"/>        
        }
    </p-card>
    
}