@if (data$ | async; as state) {
    @if (state.loading) {
      <!-- Loading State -->
      <div class="loading-state">
        <p>Loading CURP information...</p>
        <!-- You could add a spinner here -->
      </div>
    } @else if (state.error) {
      <!-- Error State -->
      <div class="error-state">
        <p>Error loading CURP information:</p>
        <p class="error-message">{{ state.error.message }}</p>        
      </div>
    } @else {
      <!-- Success State -->        
        <div class="grid row-start-2 row-end-3 grid-cols-2 grid-rows-2">
          <div class="flex items-center justify-start px-2 py-2">
            <div class="flex flex-col items-start justify-center mr-4">
              <span class="text-sm">CURP</span>
              <span>{{state.data?.curp}}</span>
            </div>
            <p-button label="Descargar PDF" icon="pi pi-file-pdf"/>
          </div>
          <div class="flex flex-col items-start justify-center col-start-1 row-start-2 px-2 py-2 ">
            <span class="text-sm">ESTADO</span>
            <span>{{state.data?.statusCurp}} - {{state.data?.statusCurpDescripcion}}</span>
          </div>
        </div>
        
        <div class="mt-8 grid grid-cols-2 grid-rows-1">

          <div class="lg:w-[28rem]">

            @if (documentoProbatorio$ | async; as items) {
              <p-table [value]="items">
                <ng-template #caption>       
                  <span>
                    Documento probatorio
                  </span>          
                </ng-template>
                <ng-template #body let-item>
                  <tr>
                    <th>
                      {{ item.name }}
                    </th>
                    <td>
                      {{ item.content }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            }
          </div>
        </div>
      }

  }