@if (data$() | async; as state) {
    @if (state.loading) {
      <!-- Loading State -->
      <div class="loading-state">
        <p>Loading RFC information...</p>
        <!-- You could add a spinner here -->
      </div>
    } @else if (state.error) {
      <!-- Error State -->
      <div class="error-state">
        <p>Error loading RFC information:</p>
        <p class="error-message">{{ state.error }}</p>
        <!-- You could add a retry button here -->
      </div>
    } @else {
      <!-- Success State -->
      <div class="grid grid-cols-2 grid-rows-2">      
        <div class="flex flex-col items-start justify-center mr-2 px-2 py-2 col-start-2 row-start-1">
          <span class="text-sm">RFC</span>
          <span>{{state.data?.rfc}}</span>
        </div>                
        <div class="flex flex-col items-start justify-center col-start-2 row-start-2 px-2 py-2">
          <span class="text-sm">ESTADO</span>
          <span>{{state.data?.rfcResult}}</span>
        </div>
      </div>

      <div class="mt-8 grid grid-cols-2 grid-rows-1">
        <div class="lg:w-[28rem] col-start-2 col-end-3">
          @if (codigoPostalData$ | async; as items) {
            <p-table [value]="items">
              <ng-template #caption>       
                <span>
                  Código Postal
                </span>          
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <th>
                    {{ item.name }}
                  </th>
                  <td>
                    {{ item.content }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          }
      
          @if (mediosContacto$ | async; as items) {
            <p-table [value]="items" class="mt-4">
              <ng-template #caption>       
                <span>
                  Medios de Contacto
                </span>          
              </ng-template>
              <ng-template #body let-item>
                <tr>
                  <th>
                    {{ item.name }}
                  </th>
                  <td>
                    {{ item.content }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          }
        </div>
      </div>
    }
}
  