
    <p-tabs value="0" class="w-full h-full">
        <p-tablist>
            <p-tab value="0">RFC</p-tab>
            <p-tab value="1">Datos</p-tab>
        </p-tablist>
        <p-tabpanels class="w-full h-full">
            <!-- <div class="flex flex-col items-center justify-center h-[28rem] w-[43rem]"> -->
                <p-tabpanel value="0">
                    <!-- <div class="w-full h-full"> -->
                        <form [formGroup]="rfcForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2 items-center justify-start w-full h-full relative">                            
                            <span class="text-2xl font-bold text-center mb-4">Ingresa con RFC</span>
                            <label>
                                <app-tipo-sujeto-control formControlName="tipoSujeto" />                            
                                @if (rfcForm.get('tipoSujeto')?.hasError("required") && (rfcForm.get('tipoSujeto')?.dirty || rfcForm.get('tipoSujeto')?.touched)) {
                                    <p-message severity="error" variant="simple" size="small" >
                                        Selecciona un tipo de sujeto contable.
                                    </p-message>
                                } 
                            </label>

                            <!-- <span class="text-2xl font-bold text-center">Ingresa un RFC</span> -->
                            <label class="flex flex-col w-full">
                                <span>RFC: </span>                                                                                                                                                                              
                                <input type="text" formControlName="rfc" placeholder="ej. MAMA900119U24" pInputText />
                                <!-- Validation errors -->
                                @if (rfcForm.get('rfc')?.hasError("rfc")) {                            
                                    <p-message severity="error" variant="simple" size="small" >
                                        {{ rfcForm.get('rfc')?.getError("rfc")}}
                                    </p-message>                                                                                    
                                }
                        
                                @if (rfcForm.get('rfc')?.hasError("required") && (rfcForm.get('rfc')?.dirty || rfcForm.get('rfc')?.touched)) {
                                    <p-message severity="error" variant="simple" size="small" >
                                        El campo es requerido.
                                    </p-message>
                                }
                            </label>
                            
                            <ng-container formGroupName="data" >
                               
    
                                    

                                    @if (tipoSujeto === "PM") {
                                        <label class="flex flex-col w-full">
                                            <span>Razón Social: </span>                                                                                                                                                                              
                                            <input type="text" formControlName="razonSocial" [placeholder]="dataStatus.dataIsRequired ? '' : '(Opcional)'" pInputText />
                                            <!-- Validation errors -->
                                            @if (rfcForm.get(['data', 'razonSocial'])?.hasError('razonSocial')) {                            
                                                <p-message severity="error" variant="simple" size="small" >
                                                    {{ rfcForm.get(['data', 'razonSocial'])?.getError('razonSocial')}}
                                                </p-message>                                                                                    
                                            }
                                    
                                            @if (rfcForm.get(['data', 'razonSocial'])?.hasError("required") && (rfcForm.get(['data', 'razonSocial'])?.dirty || rfcForm.get(['data', 'razonSocial'])?.touched)) {
                                                <p-message severity="error" variant="simple" size="small" >
                                                    El campo es requerido.
                                                </p-message>
                                            } 
                                        </label>    
                                    } @else if (tipoSujeto === "PF" || tipoSujeto === null) {                                        
                                        <div class="flex w-full gap-1">
            
                                            <label class="flex flex-col w-full">
                                                <span>Nombre(s):</span>                                                                                                                                                                              
                                                <input type="text" formControlName="nombre" [placeholder]="dataStatus.dataIsRequired ? '' : '(Opcional)'"  pInputText />                                    
                                        
                                                @if (rfcForm.get(['data', 'nombre'])?.hasError("required") && (rfcForm.get(['data', 'nombre'])?.dirty || rfcForm.get(['data', 'nombre'])?.touched)) {
                                                    <p-message severity="error" variant="simple" size="small" >
                                                        El campo es requerido.
                                                    </p-message>
                                                } 
                                            </label>                             
                                            <label class="flex flex-col w-full">
                                                <span>Apellido:</span>                                                                                                                                                                              
                                                <input type="text" formControlName="apellido" [placeholder]="dataStatus.dataIsRequired ? '' : '(Opcional)'" pInputText />                                     
                                        
                                                @if (rfcForm.get(['data', 'apellido'])?.hasError("required") && (rfcForm.get(['data', 'apellido'])?.dirty || rfcForm.get(['data', 'apellido'])?.touched)) {
                                                    <p-message severity="error" variant="simple" size="small" >
                                                        El campo es requerido.
                                                    </p-message>
                                                }
                                            </label>                             
                                        </div>                             
                                    }

                                    <div class="flex gap-1 w-full">
                                        <label class="flex flex-col w-full">
                                            <span>Código Postal: </span>                                                                                                                                                                              
                                            <p-inputgroup>
                                                <p-inputgroup-addon>
                                                    <app-query-cp-form />
                                                </p-inputgroup-addon>
                                                <input type="text" formControlName="cp" [placeholder]="dataStatus.dataIsRequired ? '' : '(Opcional)'" pInputText />
                                            </p-inputgroup>
                                            <!-- Validation errors -->
                                            @if (rfcForm.get(['data', 'cp'])?.hasError('cp')) {                            
                                                <p-message severity="error" variant="simple" size="small" >
                                                    {{ rfcForm.get(['data', 'cp'])?.getError('cp')}}
                                                </p-message>                                                                                    
                                            }
                                    
                                            @if (rfcForm.get(['data', 'cp'])?.hasError("required") && (rfcForm.get(['data', 'cp'])?.dirty || rfcForm.get(['data', 'cp'])?.touched)) {
                                                <p-message severity="error" variant="simple" size="small" >
                                                    El campo es requerido.
                                                </p-message>
                                            } 
                                        </label>
                                        <div class="w-full">
                                
                                        </div>
                                    </div>
                            </ng-container>                                                             
                            <div class="flex w-full justify-between absolute bottom-[0.5rem]">

                                @if (responseError) {
                                    <p-message severity="error">
                                        {{ responseError }}
                                    </p-message>
                                } @else {
                                    <div></div>
                                }
                                <p-button class="self-end" icon="pi pi-search" iconPos="right"  label="Buscar" aria-label="Search" type="submit" [loading]="loading" />
                            </div>

                            
                        </form>

                        
                    <!-- </div> -->
                </p-tabpanel>
                <p-tabpanel value="1">            
                <!-- <p-tabpanel value="1" class="flex justify-center items-center h-full w-full">             -->
                    <app-rfc-data-form />
                    <!-- <app-curp-by-data></app-curp-by-data> -->
                </p-tabpanel>
                
            <!-- </div> -->
        </p-tabpanels>
    </p-tabs>