

<app-client-side-bar></app-client-side-bar>


<div class="w-full h-full flex flex-col items-center justify-center relative">

    @if (loading) {
        <app-loading-spinner></app-loading-spinner>
    }
    
        <div class="py-2">
            <span class="text-xl font-bold">
                FiscoLab
            </span>
        </div>
        <div class="flex flex-col items-center justify-center">
            <ng-container>
                @if (formType === "clave") {
                    <p-message variant="simple" severity="contrast" class="mb-2">
                        Ingresa aquí la CURP o el RFC con homoclave
                    </p-message>
                } @else if (formType === "data") {
                    <p-message variant="simple" severity="contrast" class="mb-2">
                        Rellena los datos para calcular la CURP o el RFC
                    </p-message>                    
                }
            </ng-container>
            <p-card class="w-[50rem]">
            @if (formType === "clave") {
                
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center flex-col">
                    
                        <div class="flex items-center mb-2 w-full">
                            <input formControlName="clave" type="text" class="w-full focus:outline-none text-xl" placeholder="ej. QURE021108HCHXMDA9 o QURE021108RI4">
                            <p-button  type="submit" ariaLabel="Continuar" icon="pi pi-chevron-right" [rounded]="true"/>
                        </div>
                        <app-tipo-sujeto-control class="self-start" [isRfc]="queryMethod === 'rfc'" formControlName="tipoSujeto"></app-tipo-sujeto-control>
                    
                </form>

            } @else if (formType === "data") {
                <app-main-data-form></app-main-data-form>
            }
            </p-card>
            <div class="self-start">
                @if (formType === "clave") {
                    <p-button type="button" [link]="true" label="Calcular la CURP o el RFC" (onClick)="formType = 'data'" />            
                }
        
                @if (formType === "data") {
                    <p-button type="button" [link]="true" label="Ingresar con CURP o RFC" (onClick)="formType = 'clave'" />                    
                }
            </div>
        </div>        

    
    @if (responseError || form.get('clave')?.hasError('clave')) {
        <p-message severity="error" class="max-w-[50rem]">
            {{ responseError || form.get('clave')?.getError('clave')}}
        </p-message>
    }
</div>