

<app-client-side-bar></app-client-side-bar>
<div class="w-full h-full flex items-center justify-center">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-[50rem] flex flex-col justify-center items-center flex-col">
        <div class="py-2">
            <span class="text-xl font-bold">
                FiscoLab
            </span>
        </div>
        <label class="flex flex-col items-center justify-center w-full">
            <p-message variant="simple" severity="contrast" class="mb-2">
                Ingresa aquí la CURP o el RFC
            </p-message>
            <p-card class="w-full">
                
                <div>
            
                    <div class="flex items-center mb-2">
                
                        <input formControlName="clave" type="text" class="w-full focus:outline-none" placeholder="ej. QURE021108HCHXMDA9 o QURE021108RI4">
                        <p-button  type="submit" ariaLabel="Continuar" icon="pi pi-chevron-right" [rounded]="true"/>
                    </div>
                    <app-tipo-sujeto-control formControlName="tipoSujeto"></app-tipo-sujeto-control>
                </div>
            </p-card>
        </label>
        <div class="self-start">
            <p-button type="button" [link]="true" label="Calcular la CURP o el RFC"/>            
        </div>
    </form>
</div>
