<div>
    <div class="flex items-center justify-start bg-primary-50op px-2 py-2 rounded-sm mb-6">
        <i class="pi pi-user mr-4"></i>
        <span class="font-bold text-xl">Datos Generales</span>
    </div>

    <app-personal-data [data$]="this.personalData$"></app-personal-data>
    
    <div class="grid grid-cols-1 grid-rows-1">        
        <app-curp-data [data$]="this.curpData$" class="col-span-full row-span-full"></app-curp-data>
        <app-rfc-pf [data$]="this.rfcPfData$" class="col-span-full row-span-full"></app-rfc-pf>
    </div>    
</div>