<form>
    <div>
        <label>
            <span>Primer apellido: </span>
            <input type="text" pInputText>
        </label>        
        <label>
            <!-- NOT REQUIRED -->
            <span>Segundo apellido: </span>
            <input type="text" pInputText>
        </label>        
    </div>
    <div>
        <label>
            <span>Nombre(s): </span>
            <input type="text" pInputText>
        </label>        
    </div>
    <label>
        <span>Fecha de nacimiento: </span>
        <p-datepicker dateFormat="dd-mm-yy" [showIcon]="true" [iconDisplay]="'input'"/>
    </label>
    <label>
        <span>Sexo: </span>
        <p-autocomplete [forceSelection]="true" [suggestions]="gender" optionLabel="name" />
    </label>    
    <label>
        Estado de nacimiento:
        <p-autocomplete [forceSelection]="true" [suggestions]="states" optionLabel="name"/>        
    </label>

    <p-button type="submit" label="Ingresar" icon="pi pi-check" iconPos="right"/>

</form>
