<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
    <div class="flex gap-1">
        <label>
            <span>Primer apellido: </span>
            <input class="w-full" type="text" formControlName="primerApellido" pInputText>

            @if (dataForm.get('primerApellido')?.hasError('required') && (dataForm.get('primerApellido')?.touched || dataForm.get('primerApellido')?.dirty)) {
                <p-message severity="error" variant="simple" size="small">El campo es requerido.</p-message>
            } 

            @if (dataForm.get('primerApellido')?.hasError('primerApellido')) {
                <p-message severity="error" variant="simple" size="small">
                    {{ dataForm.get('primerApellido')?.getError('primerApellido')}}
                </p-message>    
            }
        </label>        
        <label>
            <!-- NOT REQUIRED -->
            <span>Segundo apellido: </span>
            <input class="w-full" type="text" formControlName="segundoApellido" pInputText>        

            @if (dataForm.get('segundoApellido')?.hasError('segundoApellido')) {
                <p-message severity="error" variant="simple" size="small">
                    {{ dataForm.get('segundoApellido')?.getError('segundoApellido')}}
                </p-message>    
            }
        </label>        
    </div>
    
        <label class="">
            <span>Nombre(s): </span>
            <input type="text" class="w-full" formControlName="nombres" pInputText>

            @if (dataForm.get('nombres')?.hasError('required') && (dataForm.get('nombres')?.touched || dataForm.get('nombres')?.dirty)) {
                <p-message severity="error" variant="simple" size="small">El campo es requerido.</p-message>
            } 

            @if (dataForm.get('nombres')?.hasError('nombres')) {
                <p-message severity="error" variant="simple" size="small">
                    {{ dataForm.get('nombres')?.getError('nombres')}}
                </p-message>    
            }
        </label>        
    
    <label class="flex flex-col self-start items-start justify-center">
        <span class="mr-2">Fecha de nacimiento: </span>
        <p-datepicker dateFormat="dd-mm-yy" [showIcon]="true" [iconDisplay]="'input'" formControlName="fechaNacimiento" />

        @if (dataForm.get('fechaNacimiento')?.hasError('required') && (dataForm.get('fechaNacimiento')?.touched || dataForm.get('fechaNacimiento')?.dirty)) {
            <p-message severity="error" variant="simple" size="small">El campo es requerido.</p-message>
        }
    </label>
    <div class="flex items-center justify-start gap-1">
        <label class="flex flex-col items-start justify-center flex-1">
            <span class="mr-2">Sexo: </span>
            <p-select [options]="gender" formControlName="sexo" optionLabel="name" placeholder="Selecciona una opción" class="w-full"></p-select>            
    
            @if (dataForm.get('sexo')?.hasError('required') && (dataForm.get('sexo')?.touched || dataForm.get('sexo')?.dirty)) {
                <p-message severity="error" variant="simple" size="small">El campo es requerido.</p-message>
            }
        </label>    
        <label class="flex flex-col items-start justify-center flex-1">
            <span class="mr-2">Estado de nacimiento:</span>
            <p-autocomplete  [forceSelection]="true" [suggestions]="statesSuggestions" optionLabel="name" (completeMethod)="searchEntidad($event)" formControlName="claveEntidad" [style]="{ width: '100%' }" [inputStyle]="{ width: '100%'}"/>        
            @if (dataForm.get('claveEntidad')?.hasError('required') && (dataForm.get('claveEntidad')?.touched || dataForm.get('claveEntidad')?.dirty)) {
                <p-message severity="error" variant="simple" size="small">El campo es requerido.</p-message>
            }
        </label>
    </div>

    <p-button type="submit" label="Ingresar" icon="pi pi-check" iconPos="right" class="flex self-end mt-4" [loading]="loading"/>

</form>

@if (responseError) {
    <p-message severity="error">
        {{ responseError }}
    </p-message>
}
