<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
    <div class="flex gap-1">
        <label>
            <span>Primer apellido: </span>
            <input class="w-full" type="text" formControlName="primerApellido" pInputText>
        </label>        
        <label>
            <!-- NOT REQUIRED -->
            <span>Segundo apellido: </span>
            <input class="w-full" type="text" formControlName="segundoApellido" pInputText>
        </label>        
    </div>
    
        <label class="">
            <span>Nombre(s): </span>
            <input type="text" class="w-full" formControlName="nombres" pInputText>
        </label>        
    
    <label class="flex self-end items-center justify-center">
        <span class="mr-2">Fecha de nacimiento: </span>
        <p-datepicker dateFormat="dd-mm-yy" [showIcon]="true" [iconDisplay]="'input'" formControlName="fechaNacimiento" />
    </label>
    <label class="flex self-end items-center justify-center">
        <span class="mr-2">Sexo: </span>
        <p-autocomplete [forceSelection]="true" [suggestions]="gender" optionLabel="name" formControlName="sexo" />
    </label>    
    <label class="flex self-end items-center justify-center">
        <span class="mr-2">Estado de nacimiento:</span>
        <p-autocomplete class=""  [forceSelection]="true" [suggestions]="states" optionLabel="name" formControlName="claveEntidad" />        
    </label>

    <p-button type="submit" label="Ingresar" icon="pi pi-check" iconPos="right" class="flex self-end mt-4"/>

</form>
