<form [formGroup]="tipoSujetoForm" class="self-center">
    <p-selectbutton [options]="tipoSujetoOptions" optionLabel="name" formControlName="tipoSujeto" optionValue="code" (onChange)="updateTipoSujetoValue()">
        <ng-template #item let-item>
            <div class="flex gap-2 items-center justify-center">                            
                <span>
                    {{ item.name }}
                </span>
                <i [class]="item.icon"></i>
            </div>
        </ng-template>
    </p-selectbutton>                    
</form>