<p-card>    
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">CURP</p-tab>
            <p-tab value="1">Datos</p-tab>
        </p-tablist>
        <p-tabpanels>
            <!-- <p-tabpanel value="0" class="flex justify-center items-center h-full w-full"> -->
            <p-tabpanel value="0">
                <form [formGroup]="curpForm" (ngSubmit)="formSubmitSubject$.next(0)" class="flex items-center justify-center h-[24.375rem] w-[42.125rem]">
                    
                    <label class="flex items-center justify-center flex-col gap-3 w-full">
                        <span class="text-2xl font-bold text-center">Ingresa una CURP</span>
                        <p-inputgroup>
                            <input type="text" formControlName="curp" placeholder="ej. QURE021108HCHXMDA9" pInputText />
                            <p-inputgroup-addon>
                                <p-button class="w-full h-full" icon="pi pi-search" aria-label="Search" type="submit" [loading]="loading" />
                            </p-inputgroup-addon>
                        </p-inputgroup>
                        
                
                        @if (curpForm.get('curp')?.hasError("curp")) {
                            @if (curpForm.get('curp')?.getError('curp').code) {
                                @if (curpForm.get('curp')?.getError('curp').code === "FORMAT_ERROR") {
                                    <p-message severity="error" variant="simple" size="small" >
                                        El formato de la CURP introducida es inválido.
                                    </p-message>
                                }                                  
                            } @else {
                                <!-- SUCCESS errors e.g. NOT_FOUND or NOT_VALID -->
                                <p-message severity="error" variant="simple" size="small" >
                                    {{curpForm.get('curp')?.getError("curp").message}}
                                </p-message>
                            }
                        }
                
                        @if (curpForm.get('curp')?.hasError("required") && (curpForm.get('curp')?.dirty || curpForm.get('curp')?.touched)) {
                            <p-message severity="error" variant="simple" size="small" >
                                El campo es requerido.
                            </p-message>
                        }
                    </label>
                    
                </form>
            </p-tabpanel>
            <p-tabpanel value="1">            
            <!-- <p-tabpanel value="1" class="flex justify-center items-center h-full w-full">             -->
                <app-curp-by-data></app-curp-by-data>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-card>
