@use "primeicons/primeicons.css";
@use "tailwindcss";
@plugin "tailwindcss-primeui";

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}


h1 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}


.content-container {
  // @apply w-
}
