<div>
    <!-- SAT collection -->
    <p-image [src]="imagePath.satLogo" alt="Logo del SAT" width="128"/>     
    <h1 class="">
        Colección del SAT
    </h1>
</div>

<p-button aria-label="RFC">
    <a routerLink="/sat/rfc-pf">
        <div class="flex flex-col px-4 py-5">
            <span class="font-bold text-xl">RFC</span>
            <i class="pi pi-user mt-2"></i>
        </div>
    </a>
</p-button>

<a>
    <span>Generar RFC</span>
</a>    
<a>
    <span>Generar RFC</span>
</a>    
<a>
    <span>Generar RFC</span>
</a>    
<a>
    <span>Generar RFC</span>
</a>    
